<!DOCTYPE html>
<html th:replace="~{layout :: maincontent(~{::section})}">

<body>
<section>
    <hr>
<h2>Latest 100 Questions</h2>
    <form th:action="@{/scrape}" method="post">
        <input type="number" name="firstId" placeholder="first id to be scraped" required th:value="${maxId}"/>
        <input type="number" name="amount" placeholder="amount of questions" required value="99"/>
        <input type="submit" value="scrape" />
    </form>
    <a th:href="@{/export/nodes}">export nodes</a>
    <a th:href="@{/export/edges}">export edges</a>
    <hr>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Question</th>
            <th>Score</th>
            <th>Creation date</th>
            <th>Tags</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="question : ${questions}">
            <td th:text="${question.questionId}"></td>
            <td th:text="${question.title}"></td>
            <td th:text="${question.score}"></td>
            <td th:text="${question.creationDate}"></td>
            <td th:text="${question.tags}"></td>
        </tr>
        </tbody>
    </table>
    <hr>
</section>

</body>

</html>